body {
  font: 16px Arial;
}

.box {
  display: inline-block;
  font-size: 0;
}

#sudoku {
  display: inline-block;
}

input[type=text] {
  font-size: 16px;
  text-align: center;
  width: 1.5em;
}

input[type=submit] {
  display: block;
  width: 100%;
}

td {
}
